In [10]:
import pygsheets
import pandas as pd
#authorization
gc = pygsheets.authorize(service_file='no_upload/dummy-376403-f836124e7806.json')
#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open('job_monitoring')

In [11]:
job_data = pd.read_csv('job_description.csv')
job_data
#select the first sheet

,company_name,job_title,relevant_skills,Date
0,Walleye Capital,Quantitative Researcher,['Proficiency in statistical analysis and mode...,2025-03-14
1,City of Miami,Senior Data Scientist,"['data strategy', ' data architecture', ' data...",2025-03-14
2,Walleye Capital,Quantitative Researcher,"['statistical analysis', ' modeling of time se...",2025-03-14
3,Upstart,Research Science Intern,"['""Machine learning', ' statistics', ' mathema...",2025-03-14
4,Upstart,Research Science Intern,"['Strong academic foundation', "" Master's or P...",2025-03-14
5,Aspinity,Machine Learning Engineer,"['""machine learning', ' sensor data', ' algori...",2025-03-14
6,Brain Co.,AI/ML Engineer,"['""GenAI', ' ML modeling', ' LLM models', ' da...",2025-03-14
7,Synergy,Financial Educator,['High School Diploma; Experience Around Busin...,2025-03-14
8,Triad Components Group,MIS & Data Analyst,"['""Python', ' HTTP protocols', ' HTTP headers'...",2025-03-14
9,Arrowstreet Capital,Investment Analytics Team Member,"['""Mathematics', ' Statistics', ' Finance', ' ...",2025-03-14

In [12]:
#select the sheet by title 
worksheet = sh.worksheet_by_title('Sheet1')
worksheet.clear()
#wks_ekstra = sh.worksheet_by_title('ekstra 22')
#wks_ekstra.clear()

#update the first sheet with df, starting at cell B2. 
worksheet.set_dataframe(job_data, start='A1')